@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    
}